    <div class="mt-5">
        <%= f.label "Nombre:" %>
        <%= f.text_field :name%>
    </div>
    <div>
        <%= f.label "Dirección:" %>
        <%= f.text_field :address%>
    </div>
    <div>
        <%= f.label "Descripción:"%>
        <%= f.text_area :description %>
    </div>
    <div>
        <%= f.label "Capacidad:" %>
        <%= f.number_field :capacity%>
    </div>
    <div class ="mt-5">
        <%= f.submit class: 'btn btn-primary' %>
    </div>