<div>
    <h1><%= @shelter.name %></h2>
</div>

<div>
    <h2>Detalles del refugio</h2>
    <h3>Identificador del refugio:</h3> <p><%= @shelter.id %></p>
    <h3>Dirección:</h3> <p><%= @shelter.address %></p>
    <h3>Descripción:</h3> <p><%= @shelter.description %></p>
    <h3>Capacidad máxima:</h3> <p><%= @shelter.capacity %></p>
    <h3>Capacidad disponible:</h3> <p><%= @shelter.capacity - @shelter.dogs.count %></p>
</div>

<h2>Perros dentro del refugio</h2>

<table>
    <tr>
        <thead>
            <th>Nombre:</th>
            <th>Tamaño:</th>
            <th>Edad:</th>
            <th>Sexo:</th>
            <th>Historia:</th>
        </thead>
    </tr>
    <% @shelter.dogs.each do |dog| %>
        <tr>
            <td><%= dog.name %></td>
            <td><%= dog.dog_size %></td>
            <td><%= dog.age %></td>
            <td><%= dog.gender %></td>
            <td><%= dog.description %></td>
            <td>
                <%= link_to "Mostrar", dog_path(dog) %>
                <% if staff_signed_in? %>
                    <%= link_to "Editar", edit_dog_path(dog) %>
                    <%= link_to "Eliminar", dog, method: :delete, data: { confirm: "¿Eliminar información?"} %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
