    <div>
        <%= f.label :name %>
        <%= f.text_field :name%>
    </div>
    <div>
        <%= f.label :dog_size %>
        <%= f.select :dog_size, options_for_select(Dog.dog_sizes.keys.to_a), {prompt: "Select Dog Size"}%>
    </div>
    <div>
        <%= f.label :age %>
        <%= f.number_field :age%>
    </div>
    <div>
    <div>
        <%= f.label :gender %>
        <%= f.select :gender, options_for_select(Dog.genders.keys.to_a), {prompt: "Select Gender"}%>
    </div>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <div>
        <%= f.select :shelter_id, Shelter.all.collect {|s| [ s.id] },
        { :include_blank => "Please select" } 
        %>
    </div>
    <div>
        <%= f.submit %>
    </div>