<h1>Lista de perros</h1>
<% if staff_signed_in? %>
    <%= link_to dogs_new_path, :class=> "btn btn-info" do %>
        <i class="fas fa-plus-square"></i>
        <span>Ingresar nuevo perro</span></a>
    <% end %>
<% end %>


<div class="row justify-content-center mt-5">
    <div class="col-auto">
        <table class="table table-responsive">
            <tr>
                <thead class= 'text-center'>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Edad</th>
                    <th>Sexo</th>
                    <th>Historia</th>
                    <th>Refugio</th>
                </thead>
            </tr>
            <% @dogs.each do |dog| %>
            <tr class= 'text-center'>
                <td ><%= dog.name %></td>
                <td ><%= dog.dog_size %></td>
                <td ><%= dog.age %></td>
                <td ><%= dog.gender %></td>
                <td ><%= dog.description %></td>
                <td ><%= dog.shelter.name %></td>
                <td>
                    <%= link_to "Mostrar", dog_path(dog), :class => "btn btn-success" %>
                    <%= link_to "Editar", edit_dog_path(dog), :class => "btn btn-warning"  %>
                    <%= link_to "Eliminar", dog, :class => "btn btn-danger", method: :delete, data: { confirm: "¿Eliminar información?"} %>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>
