<h1>Ingresar nuevo perro</h1>
    <%= form_for @dog do |f|%>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name%>
    </div>
    <div>
        <%= f.label :dog_size %>
        <%= radio_button_tag(:dog_size, 0) %>
        <%= label_tag(:dog_size, 0) %>
        <%= radio_button_tag(:dog_size, 1) %>
        <%= label_tag(:dog_size, 1) %>
        <%= radio_button_tag(:dog_size, 2) %>
        <%= label_tag(:dog_size, 2) %>
    </div>


    <div>
        <%= f.label :dog_size %><br />
        <%= f.label :dog_size, "Pequeño", :value => 0  %>
        <%= f.radio_button :autolyse, true %>
        <%= f.label :autolyse, "No", :value => "false" %>
        <%= f.radio_button :autolyse, false, :checked => true %>
    </div>



    <div>
        <%= f.label :age %>
        <%= f.number_field :age%>
    </div>
    <div>
        <%= f.label :gender %>
        <%= radio_button_tag(:gender, "Macho") %>
        <%= label_tag(:gender, "Macho") %>
        <%= radio_button_tag(:gender, "Hembra") %>
        <%= label_tag(:gender, "Hembra") %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <div>
        <%= f.submit %>
    </div>
    <% end %>