<h2>
<%= @dog.name %>
<%= @dog.dog_size %>
<%= @dog.age %>
<%= @dog.gender %>
<%= @dog.description %>
</h2>

<p>
  <%= image_tag(@dog.picture, width: 200) if @dog.picture.attached? %> 
</p>

<p>
  <strong>Más fotos:</strong> <br/>
  <% if @dog.uploads.attached? %>
    <% @dog.uploads.each do |upload| %>
      <%= link_to upload.filename, upload, target: '_blank' %> <br/>
    <% end %>
  <% else %>
    <p>No hay más fotos...</p>
  <% end %>
</p>