<div class="encabezado">
    <h2><span><%= @dog.name %></span></h2>
</div>

<section class="dog-details contenedor">
  <div class="dog-image">
    <%= image_tag(@dog.picture, size: '500x500')%>
    <h3>Más fotos:</h3> <br/>
    <div class="uploads">
      <% if @dog.uploads.attached? %>
        <% @dog.uploads.each do |upload| %>
          <%= link_to image_tag(upload, size: '50x50'), upload, target: '_blank' %> <br/>
        <% end %>
      <% end %>
    </div> 
  </div>
  <div class="dog-attributes">
    <ul>
      <h3>Detalles sobre <%= @dog.name %></h3>
      <li><p>Tamaño: <%= @dog.dog_size %></p></li>
      <li><p>Edad: <%= @dog.age %></p></li>
      <li><p>Genero: <%= @dog.gender %></p></li>
      <li><p><%= @dog.description %></p></li>
    </ul>
  </div>
</section>
<section class="contenedor">
  <div class="encabezado">
    <h2>¿Quieres adoptar a <span><%= @dog.name %></span>?</h2>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sit vel ad hic dicta amet 
    porro, nisi quam, quasi eius ipsam reiciendis iure ratione quo dignissimos, eligendi suscipit 
    vitae perspiciatis?</p>
    <%= button_to "Adoptar", dogs_path, method: :get, class:"btn btn-info center" %>
  </div>
</section>