<section class="hero">
</section>
<section class="contenedor seccion">
  <div class="encabezado">
    <h2>Forma parte del equipo</h2>
  </div>
  <div class="iconos-info">
    <div class="icono">
      <img src="<%= image_url('adopt.png') %>" alt="adopt">
      <h3>Quiero adoptar</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad commodi minima 
      aliquid optio suscipit non? Aut neque rem repellat, eveniet distinctio quia 
      dolores quas fugiat, animi in libero, asperiores fugit!</p>
      <%= button_to "Adoptar", dogs_path, method: :get, class:"btn btn-info" %>
    </div>   
    <div class="icono">
      <img src="<%= image_url('donation.png') %>" alt="adopt">
      <h3>Quiero donar</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad commodi minima 
      aliquid optio suscipit non? Aut neque rem repellat, eveniet distinctio quia 
      dolores quas fugiat, animi in libero, asperiores fugit!</p>
      <%= button_to "Donar", root_path, method: :get, class:"btn btn-info" %>
    </div>
    <div class="icono">
      <img src="<%= image_url('volunteer.png') %>" alt="adopt">
      <h3>Quiero ser voluntario</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad commodi minima 
      aliquid optio suscipit non? Aut neque rem repellat, eveniet distinctio quia 
      dolores quas fugiat, animi in libero, asperiores fugit!</p>
      <%= button_to "Más información", root_path, method: :get, class:"btn btn-info" %>
    </div>
  </div>
</section>
<section class="contador parallax">
  <div class="contenedor">
    <ul class="resumen-numeros clearfix">
      <li><p class="numero"><%= @shelters.each.size %></p>Refugios</li>
      <li><p class="numero"><%= @dogs.each.size %></p>Perros</li>
      <li><p class="numero"><%= @staffs.each.size %></p>Voluntarios</li>
    </ul>
  </div>
</section>
<section class="alianzas contenedor seccion">
  <div class="encabezado">
    <h2>Nuestras alianzas</h2>
  </div>
  <ul class="lista-alianzas clearfix">
    <li>
      <img src="<%= image_url('alianza_1.png') %>" alt="alianza 1">
    </li>
    <li>
      <img src="<%= image_url('alianza_2.png') %>" alt="alianza 1">
    </li>
    <li>
      <img src="<%= image_url('alianza_3.png') %>" alt="alianza 1">
    </li>
    <li>
      <img src="<%= image_url('alianza_4.png') %>" alt="alianza 1">
    </li>
    <li>
      <img src="<%= image_url('alianza_5.png') %>" alt="alianza 1">
    </li>
    <li>
      <img src="<%= image_url('alianza_6.png') %>" alt="alianza 1">
    </li>
  </ul>
</section>