<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Refugio de perros</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Arvo&display=swap" %>
  <%= stylesheet_link_tag 'home.css' %>
</head>
<body>
  <section class="hero">
    <%= render "layouts/navbar" %>
  </section>
  <section class="contenedor seccion">
      <h2>Forma parte del equipo</h2>
    <div class="iconos-info">
      <div class="icono">
        <img src="<%= image_url('adopt.png') %>" alt="adopt">
        <h3>Quiero adoptar</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad commodi minima 
        aliquid optio suscipit non? Aut neque rem repellat, eveniet distinctio quia 
        dolores quas fugiat, animi in libero, asperiores fugit!</p>
        <button class="btn btn-info">Adoptar</button>
      </div>
            
      <div class="icono">
        <img src="<%= image_url('donation.png') %>" alt="adopt">
        <h3>Quiero donar</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad commodi minima 
        aliquid optio suscipit non? Aut neque rem repellat, eveniet distinctio quia 
        dolores quas fugiat, animi in libero, asperiores fugit!</p>
        <button class="btn btn-info">Donar</button>
      </div>
            
      <div class="icono">
        <img src="<%= image_url('volunteer.png') %>" alt="adopt">
        <h3>Quiero ser voluntario</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad commodi minima 
        aliquid optio suscipit non? Aut neque rem repellat, eveniet distinctio quia 
        dolores quas fugiat, animi in libero, asperiores fugit!</p>
        <button class="btn btn-info">Mas información</button>
      </div>
    </div>
  </section>
  <section class="contador parallax">
    <div class="contenedor">
      <ul class="resumen-numeros clearfix">
        <li><p class="numero"><%= @shelters.each.size %></p>Refugios</li>
        <li><p class="numero"><%= @dogs.each.size %></p>Perros</li>
        <li><p class="numero"><%= @staffs.each.size %></p>Voluntarios</li>
      </ul>
    </div>
  </section>
  <section class="alianzas contenedor seccion">
        <h2>Nuestras alianzas</h2>
        <ul class="lista-alianzas clearfix">
          <li>
            <img src="<%= image_url('alianza_1.png') %>" alt="alianza 1">
          </li>
          <li>
            <img src="<%= image_url('alianza_2.png') %>" alt="alianza 1">
          </li>
          <li>
            <img src="<%= image_url('alianza_3.png') %>" alt="alianza 1">
          </li>
          <li>
            <img src="<%= image_url('alianza_4.png') %>" alt="alianza 1">
          </li>
          <li>
            <img src="<%= image_url('alianza_5.png') %>" alt="alianza 1">
          </li>
          <li>
            <img src="<%= image_url('alianza_6.png') %>" alt="alianza 1">
          </li>
        </ul>
  </section>
  <footer class="site-footer">
    <div class="contenedor clearfix">
      <div class="footer-info">
        <h3>Sobre <span>nosotros</span></h3>        
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum neque nobis veniam quaerat
          deserunt, dicta quidem voluptate aliquid, voluptatum quis sequi minus expedita alias totam
          praesentium aspernatur ut quo corrupti.</p>
      </div>
      <div class="ultimos-tweets">
        <h3>Últimos <span>Tweets</span></h3>
        <ul>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum neque nobis veniam quaerat
            praesentium aspernatur ut quo corrupti.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum neque nobis veniam quaerat
            praesentium aspernatur ut quo corrupti.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum neque nobis veniam quaerat
            praesentium aspernatur ut quo corrupti.
          </li>
        </ul>
      </div>
      <div class="redes">
        <h3>Redes <span>sociales</span></h3>
        <div class="redes-sociales">
          <%= link_to "#" do %>
            <i class="fab fa-facebook-square"></i>
          <% end %>
          <%= link_to "#" do %>
            <i class="fab fa-twitter-square"></i>
          <% end %>
          <%= link_to "#" do %>
            <i class="fab fa-instagram"></i>
          <% end %>
          <%= link_to "#" do %>
            <i class="fab fa-youtube"></i>
          <% end %>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>