<!-- Topbar -->
<div class="navbar">
  <div class="logo">
      <%= link_to(root_path) do %>
        <%= image_tag("paw-logo.png", style: 'height:100px;width:100px;')%>
      <% end %>
  </div>
  <div class="right">
    <div class="redes-sociales">
      <%= link_to "https://www.facebook.com/ChirinosJor", target: '_blank' do %>
        <i class="fab fa-facebook-square"></i>
      <% end %>
      <%= link_to "https://twitter.com/ChirinosJor", target: '_blank' do %>
        <i class="fab fa-twitter-square"></i>
      <% end %>
      <%= link_to "https://www.instagram.com/chirinosjor", target: '_blank' do %>
        <i class="fab fa-instagram"></i>
      <% end %>
      <%= link_to "https://www.youtube.com/channel/UCo-LV4CPHYd5l_wSQGPw81w?view_as=subscriber", target: '_blank' do %>
        <i class="fab fa-youtube"></i>
      <% end %>
    </div>
    <nav role="navigation" class="primary-navigation">
      <ul>
        <li><%= link_to "Inicio", root_path %></li>
        <li><%= link_to "Quienes somos", about_path %></li>
        <li><%= link_to "Adopta", dogs_path %></li>
        <li><%= link_to "Contacto", contact_path %></li>
      </ul>
    </nav>
  </div>
</div>
<!-- End of Topbar -->