<!DOCTYPE html>
<html>
  <head>
    <title>Refuge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if staff_signed_in? %>
        Welcome <%= current_staff.name %>
        <%= button_to "logout", destroy_staff_session_path, method: :delete  %>      
    <% else %>
      ¿Eres parte del staff? Inicia sesión.
      <%= button_to "login", new_staff_session_path %>  
    <% end %>

    <% if staff_signed_in? %>

    <% end %>
    <%= yield %>
  </body>
</html>
