<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Refugio de perros</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Arvo&display=swap" %>
  <%= stylesheet_link_tag 'main.css' %>
</head>
<body>
  <div class="header">
    <%= render "layouts/navbar" %>
  </div>
    <%= yield %>
</body>
</html>